<!DOCTYPE html>
<html>
    <head>
        <title>Crud</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header>
         
        </header>
        <div class="container-fluid">
            <div class="col-lg-3">
                Nome:<br/>
                <input  width="70" size="40" type="text"/>
            </div>
            <div class="col-lg-3">
                Nome:<br/>
                <input  width="70" size="40" type="text"/>
            </div>
        </div> 
    </body>
</html>
