<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      layout:decorator="template"> 
    <div  layout:fragment="content"> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Novo cadastro de produto</button>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" >

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cadastrar Nova Impressora</h4>
                    </div>

                    <div class="modal-body">                           
                        <th:block th:fragment="validation">
                            <form method="post" th:action="@{/save}" th:object="${produto}">               
                                <div><input type="hidden"  th:field="*{id}"/></div>
                                <div class="conteiner">
                                    <div class="container-fluid">
                                        <div  th:class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
                                            <label for="nome" class="control-label">Produto: <span class="required">*</span></label>                            
                                            <input th:field="*{nome}" type="text" required="required" class="form-control" placeholder="Nome do Produto"/>
                                            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="help-block">Title Errors</span>
                                        </div>
                                        <div  th:class="form-group" th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">                            
                                            <label for="descricao" class="control-label">Descrição: <span class="required">*</span></label>
                                            <input th:field="*{descricao}" type="text" class="form-control" placeholder="Descrição do Produto"/>
                                            <span th:if="${#fields.hasErrors('descricao')}" th:class="help-block">Title Errors</span>
                                        </div>
                                        <div class="col-md-3" th:class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                            <label for="email" class="control-label">Email: <span class="required">*</span></label>
                                            <input th:field="*{email}" type="email" class="form-control" placeholder="exemplo@email.com"/>
                                            <span th:unless="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="help-block">Title Errors</span>
                                        </div>   
                                    </div>
                                </div>
                                <br/>
                                <div class="conteiner">
                                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>	
                                </div>
                            </form>
                        </th:block> 
                    </div>
                </div>
            </div>
        </div>              
        <script th:inline="javascript">
            $(document).ready(function () {
                $("#submit").click(function () {
                    console.log(/*[[(${#fields.hasErrors})]]*/"ok");
                });
            });
        </script>
    </div>

</html>
