<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="template">
    <div layout:fragment="content">        

        <form method="post" th:action="@{/save}" th:object="${produto}">               
            <div><input type="hidden"  th:field="*{id}"/></div>
            <div class="conteiner">
                <div class="container-fluid">
                    <div  th:class="form-group" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                        <label for="nome" class="control-label">Produto: <span class="required">*</span></label>                            
                        <input th:field="*{nome}" type="text" class="form-control" placeholder="Nome do Produto"/>
                        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:class="help-block">Title Errors</span>
                    </div>
                    <div  th:class="form-group" th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">                            
                        <label for="descricao" class="control-label">Descrição: <span class="required">*</span></label>
                        <input th:field="*{descricao}" type="text" class="form-control" placeholder="Descrição do Produto"/>
                        <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" th:class="help-block">Title Errors</span>
                    </div>
                    <div class="col-md-3" th:class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                        <label for="email" class="control-label">Email: <span class="required">*</span></label>
                        <input th:field="*{email}" type="text" class="form-control" placeholder="exemplo@email.com"/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="help-block">Title Errors</span>
                    </div>                         
                </div>
            </div>
            <br/>
            <div class="conteiner">
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>	
            </div>        
        </form> 
    </div>
</html>

