<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
    <div layout:fragment="content">

        <div id="content">
            <input type="text" id="nome" name="nome"/>
        </div>
        <div id="div02">

        </div>        
        <div id="info">

        </div>
        <script th:inline="javascript">
            $(document).ready(function (e) {
                $('#nome').keyup(function () {
                    var filter = $('#nome').val();
                    if (filter.length > 0) {
                        tableLoader(filter);
                    } else {

                    }
                });

            });
            function tableLoader(filter) {
                var string = filter.replace(/ /g, "%20");
                var url = "/search/" + string;

                $('#div02').load(url, function (response, status, xhr) {
                    if (status === "error") {
                        var msg = "Sorry but there was an error: ";
                        $("#info").html(msg + xhr.status + " " + xhr.statusText);
                    }
                });
                return false;
            }

        </script>
    </div>
</html>
